{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
    <title>Categorias – Xbeast Games</title>
  </head>
  <body>
    
    {% include 'includes/header.html' %}

    <div class="mycard categorias-container">
      <h1>Categorias</h1>
      <ul>
        {% for cat in categorias %}
          <li>
            <a href="{% url 'categoria_detalhe' cat.id_categoria %}">
              {{ cat.nome }}
            </a>
          </li>
        {% empty %}
          <li>Sem categorias cadastradas.</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
