{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
    <title>{{ categoria.nome }} – Xbeast Games</title>
  </head>
  <body>
    
    {% include 'includes/header.html' %}

    <div class="mycard categoria-detalhe">
      <h1>Categoria: {{ categoria.nome }}</h1>
      <p>{{ categoria.descricao|default:"Sem descrição." }}</p>
      <h2>Produtos nessa categoria:</h2>
      <ul>
        {% for produto in categoria.produtos.all %}
          <li>
            <a href="{% url 'produto_detalhe' produto.id_produto %}">
              <strong>{{ produto.nome }}</strong> – R$ {{ produto.preco }}
            </a>
          </li>
        {% empty %}
          <li>Nenhum produto nesta categoria.</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
